<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/css/styles.css" rel="stylesheet" type="text/css" />
  <script src="/public/js/biography.js" defer></script>
  <title>Biography</title>
</head>

<body>
  <!-- Header section -->
  <div class="header">
    <!-- Company logo -->
    <div class="company">
      <img src="/public/images/tw-logo.png" alt="Company Logo" class="logo">
    </div>

    <!-- Navigation bar -->
    <nav class="nav-bar">
        <ul class="nav-links">
            <li class="nav-item"><a href="/home" id="home-link">Home</a></li>
            <li class="nav-item" style="background-color: #777; border-radius: 4px; padding: 5px 0px;"><a href="/biography" id="biography-link">Biography</a></li>
            <li class="nav-item"><a href="/project" id="project-link">Project</a></li>
            <li class="nav-item"><a href="/skill/1" id="skill-link">Skill</a></li>
            <% if (sessionUser[0].RoleID === 1) { %>
              <li class="nav-item settings-tab">
                  <a href="#" id="settings-link">Settings</a>
                  <ul class="user-options">
                      <li><a href="/user" id="manage-user-link">Manage User</a></li>
                      <li><a href="/project-adm" id="manage-project-link">Manage Project</a></li>
                      <li><a href="/upload" id="upload-link">Upload</a></li>
                  </ul>
              </li>
          <% } %>
            <li class="nav-item"><a href="/logout" id="logout-link">Logout</a></li>
        </ul>
    </nav>
  </div>

  <div class="biography-container">


    <!-- Display profile -->
    <div class="biography-top-container">
      <div class="profile-image">
        <% if (user[0].FirstName==='Mabelin' && user[0].LastName==='Kong' || user[0].FirstName==='Kelly' &&
          user[0].LastName==='Chia' || user[0].FirstName==='Amy' && user[0].LastName==='Weng' ) { %>
          <img class="rounded-image" src="/public/images/female.png">
          <% } else { %>
            <img class="rounded-image" src="/public/images/male.png">
            <% } %>
      </div>
      <div class="profile-details">
        <h1>
          <%= user[0].FirstName %>
            <%= user[0].LastName %>
        </h1>
        <p>
          <b><span class="reflection"><a href="mailto:<%= user[0].EmailAddress %>">
                <%= user[0].EmailAddress %>
              </a></span></b>
        </p>
        <p style="padding:5px;">
          "<i>
            <%= bio[0].Description %>
          </i>"
        </p>
      </div>
    </div>


    <!-- Display list of skills -->
    <div class="biography-middle-container">
      <div class="bubble-container">
        <% if (skills && skills.length> 0) { %>
          <% skills.forEach(skill=> { %>
            <div class="bubble">
              <a href="/skill/<%= skill.SkillID %>">
                <%= skill.SkillName %> (<%= skill['COUNT(*)'] %>)
              </a>
            </div>
            <% }) %>
              <% } else { %>
                <p><i>No skill found.</i></p>
                <% } %>
      </div>
    </div>


    <!-- Display list of projects, self evaluation, reviews -->
    <div class="biography-bottom-container">

      <!-- Display list of projects -->
      <div class="biography-bottom-left">
        <h4 style="text-align: left;">Involved Projects (<%= projectCount %>)</h4>
        <hr>
        <p style="text-align: left;">
          <% if (project && project.length> 0) { %>
            <% project.sort((a, b)=> b.ProjectID - a.ProjectID); %>
              <!-- Sort projects by ProjectID from biggest to smallest -->
              <% project.forEach(project=> { %>
                <p class="reflection" style="text-align: left;">
                  <!-- <a href="#" onclick="showProjectDetails('<%= project.ProjectID %>')"> -->
                  <a href="/project/<%= project.ProjectID %>">
                    <%= project.ProjectName %>
                  </a>
                  <!-- </a> -->
                </p>
                <% }) %>
                  <% } else { %>
                    <p><i>No project found.</i></p>
                    <% } %>
        </p>
      </div>

      <!-- Display self-evaluations + reviews for the project -->
      <div class="biography-bottom-right" id="projectDetailsContainer">
        <% combinedFeed.forEach(entry => { %>
          <% if (entry.SEUserID !== undefined && entry.SEUserName !== undefined && entry.SEProjectID !== undefined && entry.EvaluationModifiedDate !== undefined && entry.SEProjectName !== undefined && entry.skills !== undefined) { %>
            <!-- Display self-evaluation -->
            <div class="self-evaluation" style="text-align: left;">
              <p style="font-size:12px; text-align: left;">
                <% const evaluationDate = entry.EvaluationModifiedDate.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true }); %>
                <%= new Date(entry.EvaluationModifiedDate).toLocaleDateString() %>
                <%= evaluationDate %>
            </p>
            New Self-Evaluation added by <b><a href="/biography/<%= entry.SEUserID %>"><%= entry.SEUserName %></a></b> in <b><a href="/project/<%= entry.SEProjectID %>"><%= entry.SEProjectName %></a></b>
            <div>
                    <% entry.skills.forEach(skill => { %>
                      <div class="bubble" style="text-align: left;">
                        <a href="/skill/<%= skill.SkillID %>"><span style="font-size:12px; text-align: left;"><%= skill.SkillName %></span></a>
                    </div>
                    <% }) %>
            </div>
            <hr>
        <% } else if (entry.ReflectionCreatedDate) { %> <!-- Check if the entry is a reflection -->
              <div class="reflection" style="text-align: left;">
                  <p style="font-size:12px;">
                      <% const reflectionDate=entry.ReflectionCreatedDate.toLocaleTimeString('en-US', { hour: '2-digit' ,
                      minute: '2-digit' , hour12: true }); %>
                      <%= new Date(entry.ReflectionCreatedDate).toLocaleDateString() %>
                      <%= reflectionDate %>
                  </p>
                  New Reflection added by <b><a href="/biography/<%= entry.RFUserID %>">
                      <%= entry.RFUserName %>
                  </a></b> in <b><a href="/project/<%= entry.RFProjectID %>">
                      <%= entry.RFProjectName %>
                  </a></b>
                  <p>
                      <%= entry.ReflectionDescription %>
                  </p>
              </div>
              <hr>
          <% } else if (entry.ReviewCreatedDate) { %> <!-- Check if the entry is a review -->
              <div class="review" style="text-align: left;">
                  <p style="font-size:12px;">
                      <% const reviewDate=entry.ReviewCreatedDate.toLocaleTimeString('en-US', { hour: '2-digit' ,
                      minute: '2-digit' , hour12: true }); %>
                      <%= new Date(entry.ReviewCreatedDate).toLocaleDateString() %>
                      <%= reviewDate %>
                  </p>
                  <p>
                      New Review wrote by <b><a href="/biography/<%= entry.ReviewerID %>">
                          <%= entry.ReviewerName %>
                      </a></b>
                      for <b><a href="/biography/<%= entry.ReceiverID %>">
                          <%= entry.ReceiverName %>
                      </a></b>
                      in <b><a href="/project/<%= entry.RProjectID %>">
                          <%= entry.RProjectName %>
                      </a></b>
                  </p>
                  <p class="<%= user[0].UserID === entry.ReceiverID && entry.ReviewStatus === 'Rejected' ? 'hidden-review' : '' %>">
                      <%= entry.ReviewDescription %>
                  </p>
                  <% if (userId===entry.ReceiverID) { %>
                      <% if (entry.ReviewStatus==="Rejected" ) { %>
                          <p>
                              <form action="/unhide-review-bio" method="POST" style="display: inline;">
                                  <input type="hidden" name="ReviewID" value="<%= entry.ReviewID %>">
                                  <button type="submit">Unhide Review</button>
                              </form>
                          </p>
                      <% } else { %>
                          <p>
                              <form action="/hide-review-bio" method="POST" style="display: inline;">
                                  <input type="hidden" name="ReviewID" value="<%= entry.ReviewID %>">
                                  <button type="submit">Hide Review</button>
                              </form>
                          </p>
                      <% } %>
                  <% } %>
              </div>
              <hr>
          <% } else if (entry.TeamModifiedDate) { %> <!-- Check if the entry is a review -->
              <div class="project" style="text-align: left;">
                  <p style="font-size:12px;">
                      <% const teamDate=entry.TeamModifiedDate.toLocaleTimeString('en-US', { hour: '2-digit' ,
                      minute: '2-digit' , hour12: true }); %>
                      <%= new Date(entry.TeamModifiedDate).toLocaleDateString() %>
                      <%= teamDate %>
                  </p>
                  <p>
                      Verified <b>
                      <%= entry.TeamRole %>
                      </b> of <b>
                      <a href="/project/<%= entry.ProjectID %>">
                          <%= entry.ProjectName %>
                      </a></b> created by <b><a href="/biography/<%= entry.ProjectCreatedBy %>">
                          <%= entry.ProjectCreatedByName %>
                      </a></b>
                  </p>
              </div>
              <hr>
          <% } %>
      <% }) %>
      </div>

</body>

</html>