<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/css/styles.css" rel="stylesheet" type="text/css" />
  <title>Home</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <!-- Header section -->
  <div class="header">
    <!-- Company logo -->
    <div class="company">
      <img src="/public/images/tw-logo.png" alt="Company Logo" class="logo">
    </div>

    <!-- Navigation bar -->
    <nav class="nav-bar">
      <ul class="nav-links">
        <li class="nav-item" style="background-color: #777; border-radius: 4px; padding: 5px 0px;"><a href="/home" id="home-link">Home</a></li>
        <li class="nav-item"><a href="/biography/<%= user[0].UserID %>" id="biography-link">Biography</a></li>
        <li class="nav-item"><a href="/project" id="project-link">Project</a></li>
        <li class="nav-item"><a href="/skill/1" id="skill-link">Skill</a></li>
        <li class="nav-item"><a href="/logout" id="logout-link">Logout</a></li>
      </ul>
    </nav>
  </div>
  <div class="home-container">
    <div class="home-profile-container">
      <% if (user[0].FirstName==='Mabelin' && user[0].LastName==='Kong' || user[0].FirstName==='Kelly' && user[0].LastName==='Chia'
        || user[0].FirstName==='Amy' && user[0].LastName==='Weng' ) { %>
        <img class="rounded-image" src="/public/images/female.png">
        <% } else { %>
          <img class="rounded-image" src="/public/images/male.png">
          <% } %>
            <h1>
              <%= user[0].FirstName %>
                <%= user[0].LastName %>
            </h1>
            <% if (message && fromProfileEditPage) { %>
              <div id="message">
                <p>
                  <%= message %>
                </p>
              </div>
              <% } %></i>
                <p>
                  <%= user[0].EmailAddress %> <a href="/profile-edit" style="position: absolute; top: 10px; right: 10px;">
                      <img src="/public/images/edit.png" width="15" height="15" alt="Edit Profile">
                    </a>
                </p>
                <p style="border:solid 1px; padding:10px;">
                  <%= bio[0].Description %>
                </p>
                <table border="0" align="center">
                  <tr>
                    <td align="left">Projects Involved</td>
                    <td>
                      <%= projectCount %>
                    </td>
                  </tr>
                  <tr>
                    <td align="left">Skills Accquired:
                    <td>
                      <%= skillCount %>
                    </td>
                  </tr>
                  <tr>
                    <td align="left">Reflections Written:</td>
                    <td>
                      <%= reflectionCount %>
                    </td>
                  </tr>
                  <tr>
                    <td align="left">Self Evaluation:</td>
                    <td>
                      <%= evaluationCount %>
                    </td>
                  </tr>
                  <tr>
                    <td align="left">Reviews Approved:</td>
                    <td>
                      <%= reviewApprovedCount %>
                    </td>
                  </tr>
                  <tr>
                    <td align="left">Reviews Hidden:</td>
                    <td>
                      <%= reviewRejectedCount %>
                    </td>
                  </tr>
                  <tr>
                    <td align="left">Reviews Pending:</td>
                    <td>
                      <%= reviewCreatedCount %>
                    </td>
                  </tr>
                </table>
    </div>
    <div class="home-content-container">
      <div class="home-right-top">
        <h3>Notifications</h3>
        <% if (notificationsFeed.length===0) { %>
          <p><i>You're up to date, there's no pending notifications...</i></p>
          <% } else { %>
            <% notificationsFeed.forEach(item=> { %>
              <div class="item">
                <% if (item.ReviewID) { %>
                  <% const reviewDate=new Date(item.ReviewModifiedDate); const
                    formattedDate=reviewDate.toLocaleDateString('en-US', { day: '2-digit' , month: 'short' ,
                    year: 'numeric' }); const formattedTime=reviewDate.toLocaleTimeString('en-US', { hour12: false });
                    %>
                    <p>
                      <%= formattedDate %>
                        <%= formattedTime %>
                    </p>
                    <a href="/biography/<%= item.ReviewerID %>"><b>
                        <%= item.ReviewerName %>
                      </b></a>
                    </b> wrote a review for you in project <b>
                      <a href="/project/<%= item.ProjectID %>">
                        <%= item.ProjectName %>
                      </a>
                    </b>
                    <form action="/review/<%= item.ReviewID %>" method="POST" style="display: inline;">
                      <input type="hidden" name="ReviewerID" value="<%= item.ReviewerID %>">
                      <input type="hidden" name="ReceiverID" value="<%= item.ReceiverID %>">
                      <input type="hidden" name="ProjectID" value="<%= item.ProjectID %>">
                      <input type="hidden" name="ReviewID" value="<%= item.ReviewID %>">
                      <button type="submit">Review</button>
                    </form>
                    <hr>
                    <% } else { %>
                      <% const reviewDate=new Date(item.TeamModifiedDate); const
                        TeamformattedDate=reviewDate.toLocaleDateString('en-US', { day: '2-digit' , month: 'short' ,
                        year: 'numeric' }); const TeamformattedTime=reviewDate.toLocaleTimeString('en-US', { hour12:
                        false }); %>
                        <p>
                          <%= TeamformattedDate %>
                            <%= TeamformattedTime %>
                        </p>
                        <a href="/biography/<%= item.UserID %>"><b>
                            <%= item.UserName %>
                          </b></a>
                        </b> requested to join <b>
                          <a href="/project/<%= item.ProjectID %>">
                            <%= item.ProjectName %>
                          </a>
                        </b>
                        <form action="/accept-join-request" method="POST" style="display: inline;">
                          <input type="hidden" name="userId" value="<%= item.UserID %>">
                          <input type="hidden" name="projectId" value="<%= item.ProjectID %>">
                          <button type="submit">Accept</button>
                        </form>
                        <form action="/reject-join-request" method="POST" style="display: inline;">
                          <input type="hidden" name="userId" value="<%= item.UserID %>">
                          <input type="hidden" name="projectId" value="<%= item.ProjectID %>">
                          <button type="submit">Reject</button>
                        </form>
                        <hr>
                        <% } %>
              </div>
              <% }) %>
                <% } %>
      </div>
      <div class="home-right-bottom">
        <h3>Feed</h3>
        <%
        feedback.sort((a, b) => new Date(b.ReflectionCreatedDate || b.ReviewCreatedDate || b.ReviewCreatedDate || b.ProjectCreatedDate) - new Date(a.ReflectionCreatedDate || a.ReviewCreatedDate || a.ProjectCreatedDate));
feedback = feedback.slice(0, 50);
feedback.sort((a, b) => b.ProjectID - a.ProjectID); // Sorting projects by ProjectID in descending order
%>

<% const projectsMap = new Map(); %>
<% feedback.forEach(item => { %>
    <% if (!projectsMap.has(item.ProjectID)) { %>
        <% projectsMap.set(item.ProjectID, item); %>
    <% } %>
<% }) %>
    <% const projects = [...projectsMap.values()]; %>
    <% projects.forEach(project => { %>
        <div class="project">
            <!-- Display self-evaluations for the project -->
            <% const uniqueSelfEvaluationsMap = new Map(); %>
            <% const selfEvaluations = feedback.filter(item => item.SkillID && item.ProjectID === project.ProjectID); %>
            <% if (selfEvaluations.length > 0) { %>
                <div class="selfEvaluationItem">
                    <p style="font-size:12px;">
                        <% const SelfEvaluationCreatedTime = selfEvaluations[0].EvaluationCreatedDate.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true }); %>
                        <%= new Date(selfEvaluations[0].EvaluationCreatedDate).toLocaleDateString() %> <%= SelfEvaluationCreatedTime %>
                    </p>
                    New Self-Evaluation added by <b><a href="/biography/<%= selfEvaluations[0].SEUserID %>"><%= selfEvaluations[0].SEUserName %></a></b> in <b><a href="/project/<%= project.ProjectID %>"><%= project.ProjectName %></a></b>
                    <div class="bubble-container">
                        <% selfEvaluations.forEach(selfEvaluation => { %>
                            <% if (!uniqueSelfEvaluationsMap.has(selfEvaluation.SkillID)) { %>
                                <% uniqueSelfEvaluationsMap.set(selfEvaluation.SkillID, selfEvaluation); %>
                            <% } %>
                        <% }) %>
                        <% const uniqueSelfEvaluations = [...uniqueSelfEvaluationsMap.values()]; %>
                        <% uniqueSelfEvaluations.forEach(selfEvaluation => { %>
                            <div class="bubble">
                                <a href="/skill/<%= selfEvaluation.SkillID %>"><span style="font-size:12px;"><%= selfEvaluation.SkillName %></span></a>
                            </div>
                            <!-- Add any additional information you want to display -->                 
                        <% }) %>
                        <hr>
                    </div>
                    <hr>
                </div>
            <% } %>
    
            <!-- Display reflections for the project -->
            <% const uniqueReflectionsMap = new Map(); %>
            <% const reflections = feedback.filter(item => item.ReflectionID && item.ProjectID === project.ProjectID); %>
            <% const uniqueReflections = []; %>
            <% reflections.forEach(reflection => { %>
                <% if (!uniqueReflectionsMap.has(reflection.ReflectionID)) { %>
                    <% uniqueReflectionsMap.set(reflection.ReflectionID, reflection); %>
                    <% uniqueReflections.push(reflection); %>
                <% } %>
            <% }) %>
            <% if (uniqueReflections.length > 0) { %>
                <div class="reflections">
                    <% uniqueReflections.forEach(reflection => { %>
                        <div class="reflection">
                            <p style="font-size:12px;">
                                <% const ReflectionCreatedTime = reflection.ReflectionCreatedDate.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true }); %>
                                <%= new Date(reflection.ReflectionCreatedDate).toLocaleDateString() %> <%= ReflectionCreatedTime %>
                            </p>
                            New Reflection added by <b><a href="/biography/<%= reflection.UserID %>"><%= reflection.UserName %></a></b> in <b><a href="/project/<%= project.ProjectID %>"><%= project.ProjectName %></a></b>
                            <p><%= reflection.ReflectionDescription %></p>
                            <hr>
                        </div>
                    <% }) %>
                </div>
            <% } %>
    
            <!-- Display unique reviews for the project -->
            <% const uniqueReviewsMap = new Map(); %>
            <% const reviews = feedback.filter(item => item.ReviewID && item.ProjectID === project.ProjectID); %>
            <% reviews.forEach(review => { %>
                <% const key = `${review.ReviewerID}-${review.ReceiverID}-${review.ProjectID}`; %>
                <% if (!uniqueReviewsMap.has(key)) { %>
                    <% uniqueReviewsMap.set(key, review); %>
                <% } %>
            <% }) %>
            <% const uniqueReviews = [...uniqueReviewsMap.values()]; %>
            <% if (uniqueReviews.length > 0) { %>
                <div class="reviews">
                    <% uniqueReviews.forEach(review => { %>
                        <div class="review">
                            <p style="font-size:12px;">
                                <% const ReviewCreatedTime = review.ReviewCreatedDate.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true }); %>
                                <%= new Date(review.ReviewCreatedDate).toLocaleDateString() %> <%= ReviewCreatedTime %>
                            </p>
                            <p>
                                New Review wrote by <b><a href="/biography/<%= review.ReviewerID %>"><%= review.ReviewerName %></a></b> 
                                for <b><a href="/biography/<%= review.ReceiverID %>"><%= review.ReceiverName %></a></b>
                                in <b><a href="/project/<%= project.ProjectID %>"><%= project.ProjectName %></a></b>
                            </p>
                            <p class="<%= user[0].UserID === review.ReceiverID && review.ReviewStatus === 'Rejected' ? 'hidden-review' : '' %>">
                              <%= review.ReviewDescription %>
                          </p>
                          <% if (user[0].UserID === review.ReceiverID) { %>
                              <% if (review.ReviewStatus === "Rejected") { %>
                                  <p>
                                      <form action="/unhide-review-home" method="POST" style="display: inline;">
                                          <input type="hidden" name="ReviewID" value="<%= review.ReviewID %>">
                                          <button type="submit">Unhide Review</button>
                                      </form>
                                  </p>
                              <% } else { %>
                                  <p>
                                      <form action="/hide-review-home" method="POST" style="display: inline;">
                                          <input type="hidden" name="ReviewID" value="<%= review.ReviewID %>">
                                          <button type="submit">Hide Review</button>
                                      </form>
                                  </p>
                              <% } %>
                          <% } %>
                        </div>
                        <hr>
                    <% }) %>
                   
                </div>
            <% } %>

        <% const uniqueTeamMap = new Map(); %>
<% const Team = feedback.filter(item => item.UserID && item.ProjectID === project.ProjectID); %>
<% if (Team.length > 0) { %>
    <div class="teamItem">
      <p style="font-size:12px;">
      <% const ProjectCreatedTime = Team[0].ProjectCreatedDate.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true }); %>
                        <%= new Date(Team[0].ProjectCreatedDate).toLocaleDateString() %> <%= ProjectCreatedTime %>
                        </p>
        New project <b><a href="/project/<%= Team[0].ProjectID %>"><%= Team[0].ProjectName %></a></b> created by <b><a href="/biography/<%= Team[0].UserID %>"><%= Team[0].SEUserName %></a></b>
        <div class="bubble-container">
            <% Team.forEach(Team => { %>
                <% if (!uniqueTeamMap.has(Team.UserID)) { %>
                    <% uniqueTeamMap.set(Team.UserID, Team); %>
                <% } %>
            <% }) %>
            <% const uniqueTeam = [...uniqueTeamMap.values()]; %>
            <% uniqueTeam.forEach(Team => { %>
                <div class="bubble">
                    <a href="/biography/<%= Team.UserID %>"><span style="font-size:12px;"><%= Team.UserName %></span></a>
                </div>            
            <% }) %>
            <hr>
        </div>
        <hr>
    </div>
<% } %>
<% }) %>
  </div>
</body>

</html>