<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/css/styles.css" rel="stylesheet" type="text/css" />
  <title>Home</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <!-- Header section -->
  <div class="header">
    <!-- Company logo -->
    <div class="company">
      <img src="/public/images/tw-logo.png" alt="Company Logo" class="logo">
    </div>

    <!-- Navigation bar -->
    <nav class="nav-bar">
      <ul class="nav-links">
        <li class="nav-item"><a href="/home">Home</a></li>
        <li class="nav-item"><a href="/biography">Biography</a></li>
        <li class="nav-item"><a href="/project">Project</a></li>
        <li class="nav-item"><a href="/skill/1">Skill</a></li>
        <li class="nav-item"><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </div>
  <div class="home-container">
    <div class="home-profile-container">
      <% if (user.FirstName==='Mabelin' && user.LastName==='Kong' || user.FirstName==='Kelly' && user.LastName==='Chia'
        || user.FirstName==='Amy' && user.LastName==='Weng' ) { %>
        <img class="rounded-image" src="/public/images/female.png">
        <% } else { %>
          <img class="rounded-image" src="/public/images/male.png">
          <% } %>
            <h1>
              <%= user.FirstName %>
                <%= user.LastName %>
            </h1>
            <% if (message && fromProfileEditPage) { %>
              <div id="message">
                <p>
                  <%= message %>
                </p>
              </div>
              <% } %></i>
                <p>
                  <%= user.EmailAddress %> <a href="/profile-edit" style="position: absolute; top: 10px; right: 10px;">
                      <img src="/public/images/edit.png" width="15" height="15" alt="Edit Profile">
                    </a>
                </p>
                <p style="border:solid 1px; padding:10px;"><%= bio[0].Description %></p>
                <table border="0" align="center">
                <tr>
                  <td align="left">Projects Involved</td>
                  <td><%= projectCount %></td>
                </tr>
                <tr>
                  <td align="left">Skills Accquired: 
                  <td><%= skillCount %></td> 
                </tr>
                <tr>
                  <td align="left">Reflections written:</td>
                  <td><%= reflectionCount %></td>
                </tr>
                <tr>
                  <td align="left">Self Evaluation:</td>
                  <td><%= evaluationCount %></td>
                </tr>
                <tr>
                  <td align="left">Reviews Approved:</td> 
                  <td><%= reviewApprovedCount %></td>
                </tr>
                <tr>
                  <td align="left">Reviews Hidden:</td>
                  <td><%= reviewRejectedCount %></td>
                </tr>
                <tr>
                  <td align="left">Reviews Pending:</td> 
                  <td><%= reviewCreatedCount %></td>
                </tr>
                </table>
    </div>
    <div class="home-content-container">
      <div class="home-right-top">
        <h3>Notifications</h3>
        <% if (notificationsFeed.length===0) { %>
          <p><i>You're up to date, there's no pending notifications...</i></p>
          <% } else { %>
            <% notificationsFeed.forEach(item=> { %>
              <div class="item">
                <% if (item.ReviewID) { %>
                  <% const reviewDate=new Date(item.ReviewModifiedDate); const
                    formattedDate=reviewDate.toLocaleDateString('en-US', { day: '2-digit' , month: 'short' ,
                    year: 'numeric' }); const formattedTime=reviewDate.toLocaleTimeString('en-US', { hour12: false });
                    %>
                    <p>
                      <%= formattedDate %>
                        <%= formattedTime %>
                    </p>
                    <a href="/biography/<%= item.ReviewerID %>"><b>
                        <%= item.ReviewerName %>
                      </b></a>
                    </b> wrote a review for you in project <b>
                      <a href="/project/<%= item.ProjectID %>">
                        <%= item.ProjectName %>
                      </a>
                    </b>
                    <form action="/review/<%= item.ReviewID %>" method="POST" style="display: inline;">
                      <input type="hidden" name="ReviewerID" value="<%= item.ReviewerID %>">
                      <input type="hidden" name="ReceiverID" value="<%= item.ReceiverID %>">
                      <input type="hidden" name="ProjectID" value="<%= item.ProjectID %>">
                      <input type="hidden" name="ReviewID" value="<%= item.ReviewID %>">
                      <button type="submit">Review</button>
                    </form>
                    <hr>
                    <% } else { %>
                      <% const reviewDate=new Date(item.TeamModifiedDate); const
                        TeamformattedDate=reviewDate.toLocaleDateString('en-US', { day: '2-digit' , month: 'short' ,
                        year: 'numeric' }); const TeamformattedTime=reviewDate.toLocaleTimeString('en-US', { hour12:
                        false }); %>
                        <p>
                          <%= TeamformattedDate %>
                            <%= TeamformattedTime %>
                        </p>
                        <a href="/biography/<%= item.UserID %>"><b>
                            <%= item.UserName %>
                          </b></a>
                        </b> requested to join <b>
                          <a href="/project/<%= item.ProjectID %>">
                            <%= item.ProjectName %>
                          </a>
                        </b>
                        <form action="/accept-join-request" method="POST" style="display: inline;">
                          <input type="hidden" name="userId" value="<%= item.UserID %>">
                          <input type="hidden" name="projectId" value="<%= item.ProjectID %>">
                          <button type="submit">Accept</button>
                        </form>
                        <form action="/reject-join-request" method="POST" style="display: inline;">
                          <input type="hidden" name="userId" value="<%= item.UserID %>">
                          <input type="hidden" name="projectId" value="<%= item.ProjectID %>">
                          <button type="submit">Reject</button>
                        </form>
                        <hr>
                        <% } %>
              </div>
              <% }) %>
                <% } %>
      </div>
      <div class="home-right-bottom">
        <h3>Feed</h3>
        <% if (Object.keys(groupedTeamMembers).length> 0) { %>
          <% Object.keys(groupedTeamMembers).forEach(projectId=> { %>
            <div>
              <% const ProjectCreatedTime=groupedTeamMembers[projectId].ProjectCreatedDate.toLocaleTimeString('en-US', {
                hour: '2-digit' , minute: '2-digit' , hour12: true }); %>
                <p style="font-size:12px;">
                  <%= new Date(groupedTeamMembers[projectId].ProjectCreatedDate).toLocaleDateString() %>
                    <%= ProjectCreatedTime %>
                </p>
                <p>New project <b><a href="/project/<%= groupedTeamMembers[projectId].ProjectID %>">
                      <%= groupedTeamMembers[projectId].ProjectName %>
                    </a></b> was created by <b><a
                      href="/biography/<%= groupedTeamMembers[projectId].ProjectCreatedByID %>">
                      <%= groupedTeamMembers[projectId].ProjectCreatedBy %>
                    </a></b></p>
                <span style="font-size:12px;">Current Members:</span>
                <% if (groupedTeamMembers[projectId].TeamMembers.length> 0) { %>
                  <% groupedTeamMembers[projectId].TeamMembers.forEach(member=> { %>
                    <div class="bubble" style="font-size:12px;">
                      <%= member.TeamMember %>
                    </div>
                    <% }) %>
                      <% } else { %>
                        <% } %>
            </div>
            <% }) %>
              <% } else { %>
                <p>No projects available</p>
                <% } %>
      </div>
    </div>
  </div>
  </script>
</body>

</html>