<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/css/styles.css" rel="stylesheet" type="text/css" />
  <title>Notifications</title>
</head>

<body>
  <!-- Header section -->
  <div class="header">
    <!-- Company logo -->
    <div class="company">
      <img src="/public/images/tw-logo.png" alt="Company Logo" class="logo">
    </div>

    <!-- Navigation bar -->
    <nav class="nav-bar">
      <ul class="nav-links">
          <li class="nav-item"><a href="/home" id="home-link">Home</a></li>
          <li class="nav-item"><a href="/biography" id="biography-link">Biography</a></li>
          <li class="nav-item"><a href="/project" id="project-link">Project</a></li>
          <li class="nav-item"><a href="/skill/1" id="skill-link">Skill</a></li>
          <% if (user[0].RoleID === 1) { %>
            <li class="nav-item settings-tab">
                <a href="#" id="settings-link">Settings</a>
                <ul class="user-options">
                    <li><a href="/user" id="manage-user-link">Manage User</a></li>
                    <li><a href="/project-adm" id="manage-project-link">Manage Project</a></li>
                    <li><a href="/upload" id="upload-link">Upload</a></li>
                </ul>
            </li>
        <% } %>
          <li class="nav-item"><a href="/logout" id="logout-link">Logout</a></li>
      </ul>
  </nav>
  </div>
  <h1>Notifications</h1>
  <p>
  <div class="feed">
    <% feed.forEach(item=> { %>
      <div class="item">
        <% if (item.ReviewID) { %>
          <% const reviewDate=new Date(item.ReviewModifiedDate); const
            formattedDate=reviewDate.toLocaleDateString('en-US', { day: '2-digit' , month: 'short' , year: 'numeric' });
            const formattedTime=reviewDate.toLocaleTimeString('en-US', { hour12: false }); %>
            <b>
              <p>
                <%= formattedDate %>
                  <%= formattedTime %>
              </p>
            </b>
            <%= item.ReviewerName %>
              </b> wrote a review for you in project <b>
                <a href="/project/<%= item.ProjectID %>">
                  <%= item.ProjectName %>
                </a>
              </b>
              <form action="/review/<%= item.ReviewID %>" method="POST" style="display: inline;">
                <input type="hidden" name="ReviewerID" value="<%= item.ReviewerID %>">
                <input type="hidden" name="ReceiverID" value="<%= item.ReceiverID %>">
                <input type="hidden" name="ProjectID" value="<%= item.ProjectID %>">
                <input type="hidden" name="ReviewID" value="<%= item.ReviewID %>">
                <button type="submit">Review</button>
              </form>
              <p>________________________________________________________________________</p>
              <% } else { %>
                <% const reviewDate=new Date(item.TeamModifiedDate); const
                  TeamformattedDate=reviewDate.toLocaleDateString('en-US', { day: '2-digit' , month: 'short' ,
                  year: 'numeric' }); const TeamformattedTime=reviewDate.toLocaleTimeString('en-US', { hour12: false });
                  %>
                  <b>
                    <p>
                      <%= TeamformattedDate %>
                        <%= TeamformattedTime %>
                    </p>
                  </b>
                  <%= item.UserName %>
                    </b> requested to join <b>
                      <a href="/project/<%= item.ProjectID %>">
                        <%= item.ProjectName %>
                      </a>
                    </b>
                    <form action="/accept-join-request" method="POST" style="display: inline;">
                      <input type="hidden" name="userId" value="<%= item.UserID %>">
                      <input type="hidden" name="projectId" value="<%= item.ProjectID %>">
                      <button type="submit">Accept</button>
                    </form>
                    <form action="/reject-join-request" method="POST" style="display: inline;">
                      <input type="hidden" name="userId" value="<%= item.UserID %>">
                      <input type="hidden" name="projectId" value="<%= item.ProjectID %>">
                      <button type="submit">Reject</button>
                    </form>
                    <p>________________________________________________________________________</p>
                    <% } %>
      </div>
      <% }) %>
  </div>
</body>

</html>