<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/css/styles.css" rel="stylesheet" type="text/css"/>
  <title>View Project</title>

  <script>
    function requestToJoin(projectId) {
      // Make an AJAX request to the backend route to handle join requests
      fetch(`/join-request/${projectId}`, {
        method: 'POST',
        credentials: 'same-origin', // Include cookies in the request
      })
        .then(response => {
          if (response.ok) {
            // Handle successful join request
            alert('Request to join sent successfully.');
          } else {
            // Handle error response
            alert('Failed to send join request. Please try again.');
          }
        })
        .catch(error => {
          console.error('Error:', error);
          alert('An error occurred while sending the join request.');
        });
    }
  </script>

</head>

<body>

  <!-- Header section -->
<div class="header">
  <!-- Company logo -->
  <div class="company">
      <img src="/public/images/tw-logo.png" alt="Company Logo" class="logo">
  </div>

  <!-- Navigation bar -->
  <nav class="nav-bar">
    <ul class="nav-links">
      <li class="nav-item"><a href="/home">Home</a></li>
      <li class="nav-item"><a href="/biography">Biography</a></li>
      <li class="nav-item"><a href="/project">Project</a></li>
      <li class="nav-item"><a href="/skill/1">Skill</a></li>
      <li class="nav-item"><a href="/logout">Logout</a></li>
    </ul>
  </nav>
</div>

  <h1>Project Details</h1>
  <h2 class="project_name"><%= project.ProjectName %></h2>
  
  <div class="project_details_buttons">
    <div style="display: inline;">
      <% if (project.ProjectCreatedBy===user.UserID || teamMemberCount> 0) { %>
        <!-- Display the Modify button only if ProjectCreatedBy matches UserID -->
        <form action="/project-edit/<%= project.ProjectID %>" method="get" style="display: inline;">
          <button type="submit" class="project_buttons">Modify</button>
        </form> 
        <% if (memberCount.ProjectSize===memberCount.MemberCount) { %>
          <!-- edit or remove?-->
          <% } else { %>
            <form action="/project-member-add/<%= project.ProjectID %>" method="get" style="display: inline;">
              <button type="submit" class="project_buttons">Add Member</button>
            </form> 
            <% } %>
            <form action="/selfEvaluation" method="get" style="display: inline;">
              <input type="hidden" name="projectId" value="<%= project.ProjectID %>">
              <input type="hidden" name="userId" value="<%= project.UserID %>">
              <% if (evaluationCount> 0) { %>
              <button type="submit" class="project_buttons">Edit Self Evaluation</button>
              <% } else { %>
                <button type="submit" class="project_buttons">Add Self Evaluation</button>
                <% } %>
            </form> 
              <form action="/reflection-create" method="get" style="display: inline;">
                <input type="hidden" name="projectId" value="<%= project.ProjectID %>">
                <input type="hidden" name="userId" value="<%= project.UserID %>">
                <% if (reflectionCount> 0) { %>
                <button type="submit" class="project_buttons">Edit Reflection</button>
                <% } else { %>
                  <button type="submit" class="project_buttons">Add Reflection</button>
                <% } %>
              </form> 
              <% if (project.ProjectCreatedBy===user.UserID) { %> 
              <form action="/project-delete" method="POST" style="display: inline;">
                <input type="hidden" name="projectId" value="<%= project.ProjectID %>">
                <button type="submit" class="project_buttons">Delete Project</button>
                <% } else { %>
                <% } %>
              </form>
              <% } else if (teamRequestCount > 0) { %>
                <i>Join Team Request Pending Approval</i>
            <% } else if (memberCount.ProjectSize === memberCount.MemberCount) { %>
                <!-- Team is full, no options available -->
            <% } else if (teamStatus[0].TeamStatus == "Rejected") { %>
                <p><i>Request rejected. Please contact verified members in the project if you are part of the team.</i></p>
            <% } else if (teamLeaderCount > 0) { %>  
                <form action="/project-join-request/<%= project.ProjectID %>" method="POST" style="display: inline;">
                  <input type="hidden" name="teamRole" value="Member">
                  <button type="submit" class="project_buttons">Request to Join as Member</button>
              </form>
            <% } else { %>
                <form id="projectJoinForm" action="/project-join-request/<%= project.ProjectID %>" method="POST" style="display: inline;">
                    <input type="hidden" name="teamRole" id="teamRoleInput" value="">
                    <button type="button" onclick="setTeamRole('Member')" class="project_buttons">Request to Join as Member</button>
                    <button type="button" onclick="setTeamRole('Leader')" class="project_buttons">Request to Join as Leader</button>
                </form>
            <% } %>
    </div>
  </div>

  <div class="details_container">
  <div class="member_container">
  <table>
    <tr>
      <td><b>Member Name</b></td>
      <td><b>Member Role</b></td>
      <td><b></b></td>
    </tr>
    <% memberRows.forEach(member => { %>
      <tr>
          <td>
            <span class="bubble"><a href="/biography/<%= member.UserID %>"><%= member.UserName %></a></span>
          </td>
          <td>
            <%= member.TeamRole %>
          </td>
          <% if (teamMemberCount > 0) { %>
              <% if (member.UserID === user.UserID) { %>
                  <!-- Not allowed to review -->
                  <td></td>
              <% } else { %>
                  <!-- Allow to review -->
                  <td>
                      <form action="/review-create" method="get" style="display: inline;">
                          <input type="hidden" name="projectId" value="<%= project.ProjectID %>">
                          <input type="hidden" name="reviewer" value="<%= user.UserID %>">
                          <input type="hidden" name="receiverName" value="<%= member.UserName %>">
                          <input type="hidden" name="receiverID" value="<%= member.UserID %>">
                          <button type="submit" class="review_button">Review</button>
                      </form>
                  </td>
              <% } %>
          <% } else { %>
              <!-- Team member count is 0 -->
              <td></td>
          <% } %>
      </tr>
  <% }) %>
  </table>
</div>
  <p></p>

  <div class="project_detail_container">
  <table>
    <tr>
      <td><b>Project Name:</b></td>
      <td>
        <%= project.ProjectName %>
      </td>
    </tr>
    <tr>
      <td><b>Project Description:</b></td>
      <td>
        <%= project.ProjectDescription %>
      </td>
    </tr>
    <tr>
      <td><b>Start Date:</b></td>
      <td>
        <%= new Date(project.ProjectStartDate).toLocaleDateString('en-GB') %>
      </td>
    </tr>
    <tr>
      <td><b>End Date:</b></td>
      <td>
        <% if (new Date(project.ProjectEndDate).toDateString()==='Thu Jan 01 1970' ) { %>
          <!-- Display blank if ProjectEndDate is 1/1/1970 -->
          <%= '' %>
            <% } else { %>
              <%= new Date(project.ProjectEndDate).toLocaleDateString('en-GB') %>
                <% } %>
      </td>
    </tr>
    <tr>
      <td><b>Size:</b></td>
      <td>
        <%= project.ProjectSize %>
      </td>
    </tr>
    <tr>
      <td><b>Grade:</b></td>
      <td>
        <%= project.ProjectGrade %>
      </td>
    </tr>
    <tr>
      <td><b>Status:</b></td>
      <td>
        <%= project.ProjectStatus %>
      </td>
    </tr>
    <tr>
      <td><b>Created By:</b></td>
      <td>
        <%= project.CreatedByFirstName %>
          <%= project.CreatedByLastName %>
      </td>
    </tr>
    <tr>
      <td><b>Created On:</b></td>
      <td>
        <%= new Date(project.ProjectCreatedDate).toLocaleDateString('en-GB') %>
      </td>
    </tr>
    <tr>
      <td><b>Last Update:</b></td>
      <td>
        <%= new Date(project.ProjectModifiedDate).toLocaleDateString('en-GB') %>
      </td>
    </tr>
  </table>
</div>
</div>
  <p></p>
  
  <script>
    function setTeamRole(role) {
        document.getElementById('teamRoleInput').value = role;
        document.getElementById('projectJoinForm').submit();
    }
    </script>
</body>

</html>