<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/css/styles.css" rel="stylesheet" type="text/css"/>
  <script src="https://kit.fontawesome.com/df899a6e31.js" crossorigin="anonymous"></script>
  <title>Projects</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      /*border: 1px solid black;*/
      padding: 8px;
      text-align: left;
    }
  </style>
</head>

<body>

  <!-- Header section -->
<div class="header">
  <!-- Company logo -->
  <div class="company">
      <img src="/public/images/tw-logo.png" alt="Company Logo" class="logo">
  </div>

  <!-- Navigation bar -->
  <nav class="nav-bar">
    <ul class="nav-links">
        <li class="nav-item"><a href="/home" id="home-link">Home</a></li>
        <li class="nav-item"><a href="/biography" id="biography-link">Biography</a></li>
        <li class="nav-item" style="background-color: #777; border-radius: 4px; padding: 5px 0px;"><a href="/project" id="project-link">Project</a></li>
        <li class="nav-item"><a href="/skill/1" id="skill-link">Skill</a></li>
        <% if (user.RoleID === 1) { %>
          <li class="nav-item settings-tab">
              <a href="#" id="settings-link">Settings</a>
              <ul class="user-options">
                  <li><a href="/user" id="manage-user-link">Manage User</a></li>
                  <li><a href="/project-adm" id="manage-project-link">Manage Project</a></li>
                  <li><a href="/upload" id="upload-link">Upload</a></li>
              </ul>
          </li>
      <% } %>
        <li class="nav-item"><a href="/logout" id="logout-link">Logout</a></li>
    </ul>
</nav>
</div>

<div class="search_container">
  <a href="/project-create"><button class="add_project">Add Project <i class="fa-solid fa-plus"></i></button></a>
  <div class="search_bar">
  <input type="text" id="searchInput" placeholder="Search project..." oninput="filterProjects(this.value)">
  </div>
  <p>
  </div>
  <div class="project_border">
    <div class="project_table">
      <table class="table_border" id="projectTable">
        <thead>
          <tr class="table_head">
            <th>Project Name</th>
            <th>Project Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Grade</th>
            <th>Size</th>
            <th>Created By</th>
            <th>Create Date</th>
          </tr>
        </thead>
        <tbody>
          <% projects
              .sort((a, b) => new Date(b.ProjectID) - new Date(a.ProjectID))
              .forEach(project => { %>
            <tr>
              <td><a href="/project/<%= project.ProjectID %>">
                  <%= project.ProjectName %>
                </a></td>
              <td style="width: 500px;"><a href="/project/<%= project.ProjectID %>">
                <%= project.ProjectDescription %></a>
              </td>
              <td><a href="/project/<%= project.ProjectID %>">
                <%= project.ProjectStartDate %></a>
              </td>
              <td><a href="/project/<%= project.ProjectID %>">
                <% if (new Date(project.ProjectEndDate).toDateString() === 'Thu Jan 01 1970') { %>
                  <%= '' %>
                <% } else { %>
                  <%= project.ProjectEndDate %>
                <% } %>
                </a>
              </td>
              <td><a href="/project/<%= project.ProjectID %>">
                <%= project.ProjectGrade %></a>
              </td>
              <td><a href="/project/<%= project.ProjectID %>">
                <%= project.MemberCount %>/<%= project.ProjectSize %></a>
              </td>
              <td><a href="/project/<%= project.ProjectID %>">
                <%= project.CreatedByFirstName %> <%= project.CreatedByLastName %></a>
              </td>
              <td><a href="/project/<%= project.ProjectID %>">
                <%= project.ProjectCreatedDate %></a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  
  <script>
    function filterProjects(value) {
        const searchTerm = value.toLowerCase();
        const rows = document.querySelectorAll("#projectTable tbody tr");
        rows.forEach(row => {
            const projectName = row.cells[0].textContent.toLowerCase();
            if (projectName.includes(searchTerm)) {
                row.style.display = "table-row";
            } else {
                row.style.display = "none";
            }
        });
    }
</script>
</body>

</html>