<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/styles.css" rel="stylesheet" type="text/css"/>
    <title>Create Reflection</title>
</head>

<body>
    <!-- Header section -->
<div class="header">
    <!-- Company logo -->
    <div class="company">
        <img src="/public/images/tw-logo.png" alt="Company Logo" class="logo">
    </div>
  
    <!-- Navigation bar -->
    <nav class="nav-bar">
      <ul class="nav-links">
          <li class="nav-item"><a href="/home">Home</a></li>
          <li class="nav-item"><a href="/biography">Biography</a></li>
          <li class="nav-item"><a href="/profile">Profile</a></li>
          <li class="nav-item"><a href="/project">Project</a></li>
          <li class="nav-item"><a href="/notifications">Notifications</a></li>
          <li class="nav-item"><a href="/logout">Logout</a></li>
          <!-- Add more navigation links as needed -->
      </ul>
  </nav>
  </div>
    <h1>Create Reflection</h1>
    <p>Project Name: <a href="/project/<%= projectName[0].ProjectID %>">
            <%= projectName[0].ProjectName %>
        </a>
    </p>
    <form action="/reflection-create" method="POST" style="display: inline;">
        <input type="hidden" name="projectId" value="<%= projectId %>">
        <input type="hidden" name="userId" value="<%= userId %>">
        <textarea name="reflectionDescription" rows="4" cols="50"
            placeholder="Enter reflection description"><%= existingReflection.length > 0 ? existingReflection[0].ReflectionDescription : '' %></textarea><br>
        <button type="submit">Submit</button>
    </form>
    <form action="/reflection-delete" method="POST" style="display: inline;">
        <input type="hidden" name="projectId" value="<%= projectId %>">
        <input type="hidden" name="userId" value="<%= userId %>">
        <button type="submit">Delete Reflection</button>
      </form>
</body>

</html>