<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/styles.css" rel="stylesheet" type="text/css"/>
    <title>Create Reflection</title>
</head>

<body>
    <!-- Header section -->
<div class="header">
    <!-- Company logo -->
    <div class="company">
        <img src="/public/images/tw-logo.png" alt="Company Logo" class="logo">
    </div>
  
    <!-- Navigation bar -->
    <nav class="nav-bar">
        <ul class="nav-links">
            <li class="nav-item"><a href="/home" id="home-link">Home</a></li>
            <li class="nav-item"><a href="/biography" id="biography-link">Biography</a></li>
            <li class="nav-item" style="background-color: #777; border-radius: 4px; padding: 5px 0px;"><a href="/project" id="project-link">Project</a></li>
            <li class="nav-item"><a href="/skill/1" id="skill-link">Skill</a></li>
            <% if (user[0].RoleID === 1) { %>
                <li class="nav-item settings-tab">
                    <a href="#" id="settings-link">Settings</a>
                    <ul class="user-options">
                        <li><a href="/user" id="manage-user-link">Manage User</a></li>
                        <li><a href="/project-adm" id="manage-project-link">Manage Project</a></li>
                        <li><a href="/upload" id="upload-link">Upload</a></li>
                    </ul>
                </li>
            <% } %>
            <li class="nav-item"><a href="/logout" id="logout-link">Logout</a></li>
        </ul>
    </nav>
  </div>
    <h1>Create Reflection</h1>
    <p>Project Name: <a href="/project/<%= projectName[0].ProjectID %>">
            <%= projectName[0].ProjectName %>
        </a>
    </p>
    <form class="form-input" id="reflectionForm" action="/reflection-create" method="POST">
        <input type="hidden" name="projectId" value="<%= projectId %>">
        <input type="hidden" name="userId" value="<%= userId %>">
        <textarea id="reflectionDescription" name="reflectionDescription" rows="4" cols="50" placeholder="Enter reflection description"><%= existingReflection.length > 0 ? existingReflection[0].ReflectionDescription : '' %></textarea><br>
        <p style="text-align: right; font-size: 12px;"><span id="charCount">0</span>/1500 characters</p>
        <button type="submit" name="action" value="submit">Submit</button>
        <% if (reflectionCount > 0) { %>
            <button type="submit" formaction="/reflection-delete" name="action" value="delete">Delete</button>
        <% } %>
    </form>

    <script>
        const reflectionForm = document.getElementById('reflectionForm');
        const reflectionDescription = document.getElementById('reflectionDescription');
        const charCount = document.getElementById('charCount');
      
        reflectionDescription.addEventListener('input', () => {
            charCount.textContent = reflectionDescription.value.length;
        });
      </script>
    
</body>

</html>