<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Reflection</title>
</head>

<body>
    <a href="/biography">Biography</a> |
    <a href="/profile">Profile</a> |
    <a href="/project">Project</a> |
    <a href="/notifications">Notifications</a> |
    <a href="/logout">Logout</a>
    <p></p>
    <h1>Create Reflection</h1>
    <p>Project Name: <a href="/project/<%= projectName[0].ProjectID %>">
            <%= projectName[0].ProjectName %>
        </a>
    </p>
    <form action="/reflection-create" method="POST">
        <input type="hidden" name="projectId" value="<%= projectId %>">
        <input type="hidden" name="userId" value="<%= userId %>">
        <textarea name="reflectionDescription" rows="4" cols="50"
            placeholder="Enter reflection description"><%= existingReflection.length > 0 ? existingReflection[0].ReflectionDescription : '' %></textarea><br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>