<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/styles.css" rel="stylesheet" type="text/css"/>
    <title>Create Review</title>
</head>

<body>
    <!-- Header section -->
<div class="header">
    <!-- Company logo -->
    <div class="company">
        <img src="/public/images/tw-logo.png" alt="Company Logo" class="logo">
    </div>
  
    <!-- Navigation bar -->
    <nav class="nav-bar">
        <ul class="nav-links">
          <li class="nav-item"><a href="/home">Home</a></li>
          <li class="nav-item"><a href="/biography">Biography</a></li>
          <li class="nav-item"><a href="/project">Project</a></li>
          <li class="nav-item"><a href="/skill/1">Skill</a></li>
          <li class="nav-item"><a href="/logout">Logout</a></li>
        </ul>
      </nav>
  </div>
    <h1>Create Review</h1>
    <p>
        Project Name: <a href="/project/<%= projectName[0].ProjectID %>">
            <%= projectName[0].ProjectName %>
        </a><br>
        You are viewing the review you wrote for <%= receiverName %><br>
            <% if (existingReview && existingReview.length> 0) { %>
                <form class="form-input">
                    <% if (existingReview[0].ReviewStatus=="Created" ) { %>
                        <i>Review pending approval from <%= receiverName %></i>
                    <% } else if (existingReview[0].ReviewStatus=="Approved") { %>
                        <i>Review is approved by <%= receiverName %></i>
                    <% } else { %>
                        <i>Review is rejected by <%= receiverName %></i>
                    <% } %>
                        <p><%= existingReview[0].ReviewDescription %></p>
            </form>
                <% } else { %>
                    <form class="form-input" id="reviewForm" action="/review-create" method="post" style="width:500px;">
                        <input type="hidden" name="projectId" value="<%= projectId %>">
                        <input type="hidden" name="reviewerID" value="<%= reviewerID %>">
                        <input type="hidden" name="receiverID" value="<%= receiverID %>">
                        <textarea id="reviewDescription" name="reviewDescription" rows="10" cols="100"
                            placeholder="Enter your review"></textarea><br>
                            <p style="text-align: right; font-size: 12px;"><span id="charCount">0</span>/1500 characters</p>
                        <button type="submit">Submit Review</button>
                    </form>
                    <% } %>
    </p>

    <script>
        const reviewForm = document.getElementById('reviewForm');
        const reviewDescription = document.getElementById('reviewDescription');
        const charCount = document.getElementById('charCount');
      
        reviewDescription.addEventListener('input', () => {
            charCount.textContent = reviewDescription.value.length;
        });
      </script>
</body>

</html>