<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/styles.css" rel="stylesheet" type="text/css"/>
    <title>Create Review</title>
</head>

<body>
    <!-- Header section -->
<div class="header">
    <!-- Company logo -->
    <div class="company">
        <img src="/public/images/tw-logo.png" alt="Company Logo" class="logo">
    </div>
  
    <!-- Navigation bar -->
    <nav class="nav-bar">
      <ul class="nav-links">
          <li class="nav-item"><a href="/home">Home</a></li>
          <li class="nav-item"><a href="/biography">Biography</a></li>
          <li class="nav-item"><a href="/project">Project</a></li>
          <li class="nav-item"><a href="/logout">Logout</a></li>
          <!-- Add more navigation links as needed -->
      </ul>
  </nav>
  </div>
    <h1>Create Review</h1>
    <p>
        Project Name: <a href="/project/<%= projectName[0].ProjectID %>">
            <%= projectName[0].ProjectName %>
        </a><br>
        You are viewing the review you wrote for <%= receiverName %><br>
            <% if (existingReview && existingReview.length> 0) { %>
                <p>Review: <%= existingReview[0].ReviewDescription %>
                </p>
                <p>Review Status: <%= existingReview[0].ReviewStatus %>
                </p>
                <!-- Display additional review details if needed -->
                <% } else { %>
                    <form class="form-input" action="/review-create" method="post">
                        <input type="hidden" name="projectId" value="<%= projectId %>">
                        <input type="hidden" name="reviewerID" value="<%= reviewerID %>">
                        <input type="hidden" name="receiverID" value="<%= receiverID %>">
                        <textarea name="reviewDescription" rows="4" cols="50"
                            placeholder="Enter your review"></textarea><br>
                        <button type="submit">Submit Review</button>
                    </form>
                    <% } %>
    </p>
</body>

</html>