<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/styles.css" rel="stylesheet" type="text/css" />
    <title>Search Skills</title>
</head>

<body>
    <!-- Header section -->
    <div class="header">
        <!-- Company logo -->
        <div class="company">
            <img src="/public/images/tw-logo.png" alt="Company Logo" class="logo">
        </div>

        <!-- Navigation bar -->
        <nav class="nav-bar">
            <ul class="nav-links">
                <li class="nav-item"><a href="/home" id="home-link">Home</a></li>
                <li class="nav-item"><a href="/biography" id="biography-link">Biography</a></li>
                <li class="nav-item"><a href="/project" id="project-link">Project</a></li>
                <li class="nav-item" style="background-color: #777; border-radius: 4px; padding: 5px 0px;"><a href="/skill/1" id="skill-link">Skill</a></li>
                <% if (user[0].RoleID === 1) { %>
                    <li class="nav-item settings-tab">
                        <a href="#" id="settings-link">Settings</a>
                        <ul class="user-options">
                            <li><a href="/user" id="manage-user-link">Manage User</a></li>
                            <li><a href="/project-adm" id="manage-project-link">Manage Project</a></li>
                            <li><a href="/upload" id="upload-link">Upload</a></li>
                        </ul>
                    </li>
                <% } %>
                <li class="nav-item"><a href="/logout" id="logout-link">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="ctnSearchSkills">
        <div class="skills_header">
        <h2>Search Skills</h2>

        <div class="skills_search_container">
        <input type="text" id="searchInput" placeholder="Search skill..." oninput="getSuggestions(this.value)">
    <div id="skillSuggestionsContainer"></div>
        </div>
    </div>
    
        <% users.forEach(user=> { %>
        <div class="skills_container">
        <div class="skills_name">
            <h3>
                <span class="bubble_container">
                <a href="/biography/<%= user.UserID %>"><%= user.UserName %></a>
            </span>
            </h3>
            <% user.projects.forEach(project=> { %>
            </div>
                <div class="project_skill_container">
                    <b>
                        <span>Project Name: </span><a href="/project/<%= project.ProjectID %>" class="project_bubble"><%= project.ProjectName %></a>
                    </b>
                    
                    <!-- Display skills for the project -->
                    <div class="bubble_container">
                        Skill:

                    <% project.skills.forEach(skill=> { %>
                        <% if (skill.SkillID==selectedSkillId) { %>
                            <span class="ctnSearchSkills-selected-skill">
                                <div class="bubble"><b><a href="/skill/<%= skill.SkillID %>"><%= skill.SkillName %></a></b></div>
                            </span>
                            
                            <% } else { %>
                                <div class="bubble"><a href="/skill/<%= skill.SkillID %>"><%= skill.SkillName %></a></div>
                                    <% } %>
                                    
                                        <% }) %>
                            </div>
                            <% }) %>
                        </div>
                
                    
                    
    </div>
    <% }) %>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0/js/select2.min.js"></script>

    <script>
        function positionSuggestionsContainer() {
    const searchInput = document.getElementById('searchInput');
    const skillSuggestionsContainer = document.getElementById('skillSuggestionsContainer');

    // Get the position and dimensions of the search input
    const inputRect = searchInput.getBoundingClientRect();

    // Set the top position of the suggestions container
    skillSuggestionsContainer.style.top = inputRect.bottom + 'px';
  }
  function getSuggestions(input) {
    fetch(`/search-skills?query=${input}`)
        .then(response => response.json())
        .then(data => {
            const skillSuggestionsContainer = document.getElementById('skillSuggestionsContainer');
            skillSuggestionsContainer.innerHTML = '';
            data.forEach(skill => {
                const suggestion = document.createElement('div');
                suggestion.textContent = skill.SkillName;
                suggestion.classList.add('skillSuggestion');
                suggestion.onclick = () => selectSkill(skill.SkillID);
                skillSuggestionsContainer.appendChild(suggestion);
            });
        })
        .catch(error => console.error('Error fetching suggestions:', error));
}

        function selectSkill(skillID) {
            window.location.href = `/skill/${skillID}`;
        }

  

  // Call positionSuggestionsContainer initially and whenever window is resized
  window.addEventListener('DOMContentLoaded', positionSuggestionsContainer);
  window.addEventListener('resize', positionSuggestionsContainer);
    </script>
</body>

</html>