<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/css/styles.css" rel="stylesheet" type="text/css" />
  <script src="/public/js/biography.js" defer></script>
  <title>Biography</title>
</head>

<body>
  <!-- Header section -->
  <div class="header">
    <!-- Company logo -->
    <div class="company">
      <img src="/public/images/tw-logo.png" alt="Company Logo" class="logo">
    </div>

    <!-- Navigation bar -->
    <nav class="nav-bar">
      <ul class="nav-links">
        <li class="nav-item"><a href="/home">Home</a></li>
        <li class="nav-item"><a href="/biography">Biography</a></li>
        <li class="nav-item"><a href="/project">Project</a></li>
        <li class="nav-item"><a href="/skill/1">Skill</a></li>
        <li class="nav-item"><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </div>

  <div class="biography-container">

    <!-- Display profile -->
    <div class="biography-top-container">
      <div class="profile-image">
        <% if (user[0].FirstName==='Mabelin' && user[0].LastName==='Kong' || user[0].FirstName==='Kelly' && user[0].LastName==='Chia'
            || user[0].FirstName==='Amy' && user[0].LastName==='Weng' ) { %>
          <img class="rounded-image" src="/public/images/female.png">
        <% } else { %>
          <img class="rounded-image" src="/public/images/male.png">
        <% } %>
      </div>
      <div class="profile-details">
        <h1>
          <%= user[0].FirstName %>
          <%= user[0].LastName %>
        </h1>
        <p>
          <b><a href="mailto:<%= user[0].EmailAddress %>">
            <%= user[0].EmailAddress %></a></b> 
        </p>
        <p style="padding:5px;">
          "<i><%= bio[0].Description %></i>"
        </p>
      </div>
    </div>


    <!-- Display list of skills -->
    <div class="biography-middle-container">
      <div class="bubble-container">
      <% if (skills && skills.length > 0) { %>
            <% skills.forEach(skill => { %>
              <div class="bubble">
                <a href="/skill/<%= skill.SkillID %>"><%= skill.SkillName %> (<%= skill['COUNT(*)'] %>)</a>
              </div>
            <% }) %>
    <% } else { %>
        <p><i>No skill found.</i></p>
    <% } %>
  </div>
    </div>


    <!-- Display list of projects, self evaluation, reviews -->
    <div class="biography-bottom-container">

      <!-- Display list of projects -->
      <div class="biography-bottom-left">
        <h4 style="text-align: left;">Involved Projects</h4>
        <hr>
        <p style="text-align: left;">
            <% if (project && project.length > 0) { %>
                <% project.forEach(project => { %>
                  <p class="reflection" style="text-align: left;">
                    <a href="#" onclick="showProjectDetails('<%= project.ProjectID %>')"><%= project.ProjectName %></a>
                  </p>
                <% }) %>
            <% } else { %>
                <p><i>No project found.</i></p>
            <% } %>
        </p>
    </div>
    
    <!-- Display self-evaluations + reviews for the project -->
    <div class="biography-bottom-right" id="projectDetailsContainer">
                <%
        feedback.sort((a, b) => new Date(b.ReflectionCreatedDate || b.ReviewCreatedDate || b.ReviewCreatedDate || b.ProjectCreatedDate) - new Date(a.ReflectionCreatedDate || a.ReviewCreatedDate || a.ProjectCreatedDate));
feedback = feedback.slice(0, 50);
feedback.sort((a, b) => b.ProjectID - a.ProjectID); // Sorting projects by ProjectID in descending order
%>

<% const projectsMap = new Map(); %>
<% feedback.forEach(item => { %>
    <% if (!projectsMap.has(item.ProjectID)) { %>
        <% projectsMap.set(item.ProjectID, item); %>
    <% } %>
<% }) %>
    <% const projects = [...projectsMap.values()]; %>
    <% projects.forEach(project => { %>
        <div class="reflection" style="text-align: left;">
            <!-- Display self-evaluations for the project -->
            <% const uniqueSelfEvaluationsMap = new Map(); %>
            <% const selfEvaluations = feedback.filter(item => item.SkillID && item.ProjectID === project.ProjectID); %>
            <% if (selfEvaluations.length > 0) { %>
                <div class="selfEvaluationItem">
                    <p style="font-size:12px;">
                        <% const SelfEvaluationCreatedTime = selfEvaluations[0].EvaluationCreatedDate.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true }); %>
                        <%= new Date(selfEvaluations[0].EvaluationCreatedDate).toLocaleDateString() %> <%= SelfEvaluationCreatedTime %>
                    </p>
                    New Self-Evaluation added by <b><a href="/biography/<%= selfEvaluations[0].SEUserID %>"><%= selfEvaluations[0].SEUserName %></a></b> in <b><a href="/project/<%= project.ProjectID %>"><%= project.ProjectName %></a></b>
                    <div class="bubble-container">
                        <% selfEvaluations.forEach(selfEvaluation => { %>
                            <% if (!uniqueSelfEvaluationsMap.has(selfEvaluation.SkillID)) { %>
                                <% uniqueSelfEvaluationsMap.set(selfEvaluation.SkillID, selfEvaluation); %>
                            <% } %>
                        <% }) %>
                        <% const uniqueSelfEvaluations = [...uniqueSelfEvaluationsMap.values()]; %>
                        <% uniqueSelfEvaluations.forEach(selfEvaluation => { %>
                            <div class="bubble">
                                <a href="/skill/<%= selfEvaluation.SkillID %>"><span style="font-size:12px;"><%= selfEvaluation.SkillName %></span></a>
                            </div>
                            <!-- Add any additional information you want to display -->                 
                        <% }) %>
                        <hr>
                    </div>
                    <hr>
                </div>
            <% } %>
    
            <!-- Display reflections for the project -->
            <% const uniqueReflectionsMap = new Map(); %>
            <% const reflections = feedback.filter(item => item.ReflectionID && item.ProjectID === project.ProjectID); %>
            <% const uniqueReflections = []; %>
            <% reflections.forEach(reflection => { %>
                <% if (!uniqueReflectionsMap.has(reflection.ReflectionID)) { %>
                    <% uniqueReflectionsMap.set(reflection.ReflectionID, reflection); %>
                    <% uniqueReflections.push(reflection); %>
                <% } %>
            <% }) %>
            <% if (uniqueReflections.length > 0) { %>
                <div class="reflections">
                    <% uniqueReflections.forEach(reflection => { %>
                        <div class="reflection">
                            <p style="font-size:12px;">
                                <% const ReflectionCreatedTime = reflection.ReflectionCreatedDate.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true }); %>
                                <%= new Date(reflection.ReflectionCreatedDate).toLocaleDateString() %> <%= ReflectionCreatedTime %>
                            </p>
                            New Reflection added by <b><a href="/biography/<%= reflection.UserID %>"><%= reflection.UserName %></a></b> in <b><a href="/project/<%= project.ProjectID %>"><%= project.ProjectName %></a></b>
                            <p><%= reflection.ReflectionDescription %></p>
                            <hr>
                        </div>
                    <% }) %>
                </div>
            <% } %>
    
            <!-- Display unique reviews for the project -->
            <% const uniqueReviewsMap = new Map(); %>
            <% const reviews = feedback.filter(item => item.ReviewID && item.ProjectID === project.ProjectID); %>
            <% reviews.forEach(review => { %>
                <% const key = `${review.ReviewerID}-${review.ReceiverID}-${review.ProjectID}`; %>
                <% if (!uniqueReviewsMap.has(key)) { %>
                    <% uniqueReviewsMap.set(key, review); %>
                <% } %>
            <% }) %>
            <% const uniqueReviews = [...uniqueReviewsMap.values()]; %>
            <% if (uniqueReviews.length > 0) { %>
                <div class="reviews">
                    <% uniqueReviews.forEach(review => { %>
                        <div class="review">
                            <p style="font-size:12px;">
                                <% const ReviewCreatedTime = review.ReviewCreatedDate.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true }); %>
                                <%= new Date(review.ReviewCreatedDate).toLocaleDateString() %> <%= ReviewCreatedTime %>
                            </p>
                            <p>
                                New Review wrote by <b><a href="/biography/<%= review.ReviewerID %>"><%= review.ReviewerName %></a></b> 
                                for <b><a href="/biography/<%= review.ReceiverID %>"><%= review.ReceiverName %></a></b>
                                in <b><a href="/project/<%= project.ProjectID %>"><%= project.ProjectName %></a></b>
                            </p>
                            <p class="<%= user[0].UserID === review.ReceiverID && review.ReviewStatus === 'Rejected' ? 'hidden-review' : '' %>">
                              <%= review.ReviewDescription %>
                          </p>
                          <% if (user[0].UserID === review.ReceiverID) { %>
                              <% if (review.ReviewStatus === "Rejected") { %>
                                  <p>
                                      <form action="/unhide-review-home" method="POST" style="display: inline;">
                                          <input type="hidden" name="ReviewID" value="<%= review.ReviewID %>">
                                          <button type="submit">Unhide Review</button>
                                      </form>
                                  </p>
                              <% } else { %>
                                  <p>
                                      <form action="/hide-review-home" method="POST" style="display: inline;">
                                          <input type="hidden" name="ReviewID" value="<%= review.ReviewID %>">
                                          <button type="submit">Hide Review</button>
                                      </form>
                                  </p>
                              <% } %>
                          <% } %>
                        </div>
                        <hr>
                    <% }) %>
                   
                </div>
            <% } %>
            <% }) %>
    </div>
    
    <script>
        function showProjectDetails(projectID) {
            // Fetch project details based on projectID using AJAX
            // Example: Fetch project details from server using AJAX call /${projectID}
            fetch(`/reflection/${projectID}`)
                .then(response => response.text())
                .then(data => {
                    // Display project details in the right container
                    document.getElementById('projectDetailsContainer').innerHTML = data;
                })
                .catch(error => console.error('Error fetching project details:', error));
                
            // Prevent default link behavior
            return false;
        }
    </script>
    

    </div>

  </div>

</body>

</html>